<template>
  <div id="app">
    <div id="nav">
      <b-container class="nav_container">
        <router-link to="/"
          ><img src="@/assets/img/Logo.png" alt="ROBOTIQUE"
        /></router-link>
        <router-link v-for="link in links" :key="link.title" :to="link.url">{{
          link.title
        }}</router-link>
      </b-container>
    </div>
    <router-view />
  </div>
</template>

<script>
export default {
  data() {
    return {
      links: [
        {
          title: "accueil",
          url: "accueil",
        },
        {
          title: "services",
          url: "services",
        },
        {
          title: "RÉALISATIONS",
          url: "realisations",
        },
        {
          title: "SOUMISSION",
          url: "soumission",
        },
        {
          title: "EMPLOIS",
          url: "emplois",
        },
        {
          title: "contact",
          url: "contact",
        },
      ],
    };
  },
};
</script>

<style lang="scss">
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  background-color: #1a1a1a;
  text-transform: uppercase;
  .nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img {
    width: 16%;
  }

  a {
    font-weight: bold;
    color: #fff;

    &.router-link-exact-active {
      color: #dd2516;
    }
  }
}
</style>
